SSPApp/SymAgent/SymAgent/_temp/bikehike2.gpx
SSPApp/SymAgent/SymAgent/_temp/bikehike3.gpx
SSPApp/SymAgent/SymAgent/_temp/bikehike_course.gpx
SSPApp/SymAgent/SymAgent/_temp/poznan.gpx
SSPApp/SymAgent/SymAgent/_temp/poznanNaramowice.gpx
